__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/
ENV/

.env
.env.*
!.env.example

.idea/
.vscode/

templates/test.html
templates/Group 8.png
templates/IMG_3148 (4).HEIC
templates/nyam.jpg
req.py
templates/dice.png

instance/
*.log

db/*.db
*.sqlite
*.sqlite3

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
